img {
    float: left;
    width: 32%;
}

body {
    width: 99%;
}

body.resized,
body.resized img.bar {
    width: 2304px;
}

.frame {
    display: none;
}

.frame img {
    cursor: pointer;
}

#frame-0 {
    display: block;
}

.message {
    margin-left: 2em;
    float: right;
}

h1 {
    float: left;
}

h1 svg {
    fill: #aaa;
    cursor: pointer;
    margin: 0 0 -3px 10px;
}

div#spinner {
    float: left;
    background-image: url("spinner.gif");
    display: none;
    height: 36px;
    width: 36px;
    margin: 17px 40px;
}

fieldset {
    border: 0;
    margin-top: 16px;
}

table.bar {
    clear: left;
    width: 96%;
    border-collapse: collapse;
    margin: 4px 0;
}
table.bar td {
    padding: 0 10px;
}
table.bar td:nth-child(even) {
    background-color: #8e8e8e;
}
table.bar td:nth-child(odd) {
    background-color: #e8e8e8;
}
